#
# Git ignore for tongrentang
#

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# java class file
*.class

# Package Files #
*.war
*.ear
target/*
.apt_generated
.apt_generated_tests
.settings
.classpath
.project
.idea
.factorypath
.metadata
*.iml

# ignore Maven generated target folders
target/
out/

# ignore log files
*.log
